<footer>
  <div class="row">
    <div class="col-footer">
      <h4>APPEDAL</h4>
      <div class="separador1"></div>
      <p class="marginbtm-0 justify">
        Con el auge de la movilidad individual urbana sustentable surge la
        necesidad de contar con una red de asistencia para la reparación de la
        bici durante las salidas por las calles de la ciudad.
      </p>
      <p class="margintop-0 justify">
        Nuestra plataforma se basa en poder conectarte con un mecanico ambulante
        para bicicletas, la aplicacion y la pagina Web ambas tendran un mapa
        interactivo de tu localidad que te dira donde estan las bicileterias mas
        cercanas y ademas tendra la ubicación de los mecanicos ambulantes para
        que puedan ir a ayudarte, con el beneficio de poder pagar el arreglo con
        tu tarjeta de débito o crédito desde tu billetera virtual.
      </p>
    </div>
    <div class="col-footer">
      <h4>ENLACES UTILES</h4>
      <div class="separador1"></div>
      <ul class="padliless">
        <li><a href="quienessomos.html">Quienes Somos</a></li>
        <li><a href="productos.html">Productos</a></li>
        <li><a href="faq.html">Preguntas frecuentes</a></li>
        <li><a href="/legales">Aviso Legal</a></li>
      </ul>
    </div>
    <div class="col-footer">
      <h4>CONTACTO</h4>
      <div class="separador1"></div>
      <p class="marginbtm-0">Dirección Real</p>
      <p class="margin-0">Ciudad de Buenos Aires</p>
      <p>Tel: +54 (011) 2000-2000</p>
      <a href="contacto.html" class="foot-contacto">Contacto</a>
      <div class="row-fix">
        <a href="https://www.facebook.com/pages/appdal" class="fb"
          ><i class="fab fa-facebook-f"></i
        ></a>
        <a href="https://twitter.com/appedal" class="tw"
          ><i class="fab fa-twitter"></i
        ></a>
        <a href="https://plus.google.com/pin" class="gp"
          ><i class="fab fa-google-plus-g"></i
        ></a>
        <a href="https://www.linkedin.com/company/appedal" class="lin"
          ><i class="fab fa-linkedin-in"></i
        ></a>
      </div>
    </div>
  </div>
  <div class="btm-foot">
    <div>
      Todos los derechos reservados / © 2021 APPEDAL /
      <a href="/legales">Terminos y Condiciones</a>
    </div>
  </div>
</footer>
