<header class="background_amarillo">
  <div>
    <div class="titulo">
      <img src="/img/appedal-logo.svg" alt="logo" width="40%" />
      <h1 class="h1-header">Ayudandote donde estes</h1>
    </div>
    <form action="/login" method="GET" class="align-center">
      <button class="size-65x20">
        Login <i class="fas fa-sign-in-alt"></i>
      </button>
    </form>
  </div>
  <nav class="navbar flex w-100 no-wrap">
    <ul class="ul-md">
      <li><a class="quienes" href="#">Quienes Somos</a></li>
      <li><a href="/login">Login</a></li>
      <li>
        <a href="/productDetail">Productos</a>
      </li>
      <li><a href="/productcart">Mis Compras</a></li>
      <li><a href="#">Sugerencias</a></li>
    </ul>
  </nav>
</header>
