<!-- @format -->

<section>
	<div class="product-wrapper">
		<article class="product">
			<img
				class="imgs"
				src="/imgProductos/<%-productoUnico.imagen%>"
				alt="casco"
				width="100%"
			/>
			<div class="product-content text-align">
				<h4 class="style-h4"><%= productoUnico.proveedor%></h4>
				<p class="precios"><%= productoUnico.precio%></p>
				<p class="descripciones"><%= productoUnico.prodcuto%></p>
			</div>
		</article>
	</div>
</section>
