<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head') %>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=i.0">
    <title>Perfil Usuario<title>
</head>
<body>
    

<h2>Editar perfil:
    <select><option>Cambiar nombre de usuario</option></select> 
    <select><option>Cambiar foto de perfil</option></select>
    <select><option>Biografía</option></select>
<label></textarea>*Escriba aquí su biografía para que los demás puedan saber
  acerca de usted*
  <textarea name="" id="" cols="30" rows="10"></textarea></label>
    <select><option>Género</option></select>
    <div>
      <input type="radio" name="tipoGenero">
      Masculino
    </div>
    <div>
      <input type="radio" name="tipoGenero">
      Femenino
    </div>
    <div>
      <input type="radio" name="tipoGenero">
      No especifico
    </div>
    <select><option>Cerrar sesión</option></select>
    <select><option>Borrar cuenta</option></select>
</h2>

<h2>Configuración
    <select><option>Informar de un problema</option></select>
    <select><option>Privacidad y seguridad</option></select>
    <select><option>Cambiar contraseña</option></select>
    <select><option>Cuenta profesional</option></select>
    </h2>




    <h3>Mis compras:
<ol>
    <li>Producto 1</li>
    <li>Producto 2</li>
    <li>Producto 3</li>
    <li>Producto 4</li>
    <li>Producto 5</li>
    <li>Producto 6</li> 
</ol>
    </h3>

</body>
</html>

