<script defer type="text/javascript" src="/js/slider.js"></script>

<div class="container_slider">
    <div class="slider" id="slider">
        <div class="slider_section">
            <img src="/img/arreglo-bici.jpg" alt="" class="slider_img">
        </div>
        <div class="slider_section">
            <img src="/img/pexels-snapwire-310983.jpg" alt="" class="slider_img">
        </div>
        <div class="slider_section">
            <img src="/img/professional-repairman.jpg" alt="" class="slider_img">
        </div>
        <div class="slider_section">
            <img src="/img/en_bici_free_copyright.jpg" alt="" class="slider_img">
        </div>
    </div>
    <div class="slider_btn slider_btn-R" id="btn-R">&#62</div>
    <div class="slider_btn slider_btn-L" id="btn-L">&#60</div>
</div>