<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <title>appedal</title>
</head>
<body>
    <header class="background_amarillo">
        <img src="/img/appedal-logo.svg" alt="logo" width="50%">

    </header>
    <main>
        <img src="/img/en_bici_free_copyright.jpg" alt="fondo" width="100%">

    </main>
    <footer class="background_azulceleste">

    </footer>
    
</body>
</html>