<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head') %>
    
    <title>appedal</title>
</head>
<body class="paddingtop-10vh">
    <header class="fixed">
        <%- include('partials/header') %>
    </header>
    <main >
        <img src="/img/en_bici_free_copyright.jpg" alt="fondo" width="100%" />
        
        
        <p class='margin-0 padding-8'><i class="fas fa-map-marker-alt"></i> Busca en el mapa la asistencia mas cercana a tu posición </i></p>
        <div class="mapa">
        <iframe src="https://www.google.com/maps/embed?pb=!1m16!1m12!1m3!1d17532.388538065825!2d-58.40281974631955!3d-34.61395434244975!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!2m1!1sbicicleter%C3%ADa!5e0!3m2!1ses-419!2sar!4v1632756164918!5m2!1ses-419!2sar" width="100%" height="350" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
            </div>
    </main>
        <%- include('./partials/footer') %>
         <a  href="https://api.whatsapp.com/send?l=es&amp;phone=54911XXXXXXXX&amp;
      text=Hola, me gustaría recibir información sobre..."
      class="btn-whatsapp"
      title=""
      data-title="¡Escribinos para que podamos ayudarte!">
      <img src="/img/btn-whatsapp.png"/>
    </a>
</body>
</html>