<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            href="https://fonts.googleapis.com/css2?family=Roboto&display=swap"
            rel="stylesheet"
        />
       
    <link rel="stylesheet" href="/css/normalize.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/boxes.css">
    <title>appedal</title>
</head>
<body>
    <header class="background_amarillo">
        <div>
            <img src="/img/appedal-logo.svg" alt="logo" width="50%">
            <form action="/login" method="GET" class="align-right">
            <button class="size-65x20">Login <i class="fas fa-sign-in-alt"></i></button>
            </form>
        </div>
       <nav class="navbar flex w-100 no-wrap">
           <ul>
            <li><a href="#">Quienes Somos</a></li>
            <li><a href="/login">Login</a></li>
            <li><a href="/productDetail">Productos</a></li>
            <li><a href="/productcart">Mis Compras</a></li>
            <li><a href="#">Sugerencias</a></li>

           </ul>
       </nav>
        <h1>Ayudandote donde estes</h1>
        <img src="/img/en_bici_free_copyright.jpg" alt="fondo" width="100%">
        <h3>Cerca tuyo siempre!</h3>

    </header>
    <main>
        <p><i class="fas fa-map-marker-alt"></i> Busca en el mapa la asistencia mas cercana a tu posición </i></p>

    </main>
    <footer class="background_verde">
    <p>prototio para ver tipografia y tamaño de letra del footer</p>
    </footer>
    
</body>
</html>