<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head') %>
    
    <title>appedal</title>
</head>
<body>
    <header>
        <%- include('partials/header') %>
    </header>
    <main>
        <img src="/img/en_bici_free_copyright.jpg" alt="fondo" width="100%" />
        
        
        <p><i class="fas fa-map-marker-alt"></i> Busca en el mapa la asistencia mas cercana a tu posición </i></p>

    </main>
        <%- include('./partials/footer') %>
         <a  href="https://api.whatsapp.com/send?l=es&amp;phone=54911XXXXXXXX&amp;
      text=Hola, me gustaría recibir información sobre..."
      class="btn-whatsapp"
      title=""
      data-title="¡Escribinos para que podamos ayudarte!">
      <img src="/img/btn-whatsapp.png"/>
    </a>
</body>
</html>