<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/boxes.css">

    
    <title>appedal-Login</title>
</head>
<body class="background_amarillo">
    <div class="container text-center">
        <h1 class="main-title">Login</h1>
        <p class="sub-title">Usuario:</p>
        <input placeholder="Usuario">
        <p class="sub-title">Contrasena:</p>
        <input placeholder="Contrasena">
        <p>no tenes ususario?</p>
        
        <form action="/Registro" method="GET">
        <a href="/Registro.html">Registrate ahora!</a>
        </form>
        
    </div>
</body>
</html>
