<!DOCTYPE html>
<html lang="en">
  <head>
   <%- include('./partials/head') %>
   
   <title>appedal-Login</title>
  </head>
  <body>
  <header>
    <%- include('partials/header') %>
  </header>
    <form>
      <div class="container text-center product-wrapper">
        <h1 class="main-title">Login</h1>
        <p class="sub-title">Usuario:</p>
        <input id="name" type="text" name="name" placeholder="Usuario" />
        <p class="sub-title">Contrasena:</p>
        <input
          id="password"
          type="password"
          name="password"
          placeholder="Contrasena"
        />
        <p>no tenes ususario?</p>

        <form>
          <a href="/register">Registrate ahora!</a>
        </form>
      </div>
    </form>
    <%- include('./partials/footer') %>
  </body>
</html>
