<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./partials/head') %>
    <title>Listado de Productos</title>
  </head>
  <body>
    <header><%- include('partials/header') %></header>

    <main id="main-content">
      <img class="banner" src="/img/pexels-snapwire-310983.jpg" alt="banner" />

      <div><%- include('./partials/prodDetail') %></div>
    </main>
    <%- include('./partials/footer') %>
  </body>
</html>
