<!DOCTYPE html>
<html lang="en">
  <head>
<%- include('./partials/head') %>
    <title>Detalle de Producto</title>
  </head>
  <body>
    <header class="background_amarillo">
      <img src="/img/appedal-logo.svg" alt="logo" width="50%" />
      <h2 class="style-h2">Todo lo que necesitas para tu bicicleta</h2>
      <div class="padding-8 w-50">
        <div class="flex no-wrap searchbar w-100">
          <input
            type="text"
            class="w-100"
            placeholder="Buscar respuesto, biciclestas"
          />
        </div>
          <button><i class="fa fa-search"></i></button>
      </div>
      <nav class="style-nav">
        <select name="busca" id="busca">
          <option value="pal">Barrio</option>
          <option value="pal">belgrano</option>
          <option value="pal">boedo</option>
          <option value="pal">recoleta</option>
          <option value="pal">Palermo</option>
        </select>
        <select name="busca" id="busca">
            
          <option value="pal">productos</option>  
          <option value="pal">bicicletas plegables</option>
          <option value="pal">cascos</option>
          <option value="pal">Monopatines elctricos</option>
          <option value="pal">skates</option>
        </select>
        <select name="busca" id="busca">
          <option value="pal">Por puntuacion</option>
          <option value="pal">XXXXX</option>
          <option value="pal">XXXX</option>
          <option value="pal">XXX</option>
        </select>
        <select name="busca" id="busca">
          <option value="pal">palermo</option>
          <option value="pal">belgrano</option>
          <option value="pal">boedo</option>
          <option value="pal">recoleta</option>
        </select>
      </nav>
    </header>
    <main id="main-content">
      <img class="banner" src="/img/pexels-snapwire-310983.jpg" alt="banner" />
      
      <h3 class="style-h3">Lo mas buscado</h3>
      <div class="article-flex">
        <div class="product-wrapper">
        
            <article class="product"> 
        
                <img class="imgs" src="img/professional-repairman.jpg" alt="Bicicleteria Pepito"
        
                width="100%">
        
                <div class="product-content">
                  <div class="text-align">
                      <h4 class="style-h4">bicicleteria  Lo de Pepito</h4>
                    <p class="precios" >$670</p>
        
                    <p>el Mejor servicio a domicilio</p>
                     
        
                    <p class="descripciones">mis referencia me avalan, años en el barrio de belgrano</p>
                  </div>
                </div> 
        
            </article>
        </div>
    <section >
        <div class="product-wrapper" >
        <article class="product"> 
        <img class="imgs" src="img/arreglo-bici.jpg" alt="arreglo"  width="100%">
        <div class="product-content text-align">
            <h4 class="style-h4">Fix Bike</h4>
        <p class="precios">$230</p>
        <p>por Palermo</p>
        <p class="descripciones">Arreglamos tu bici donde estes</p>
        </div>
        <article>
        </div>
        <div class="product-wrapper" >
        <article class="product">
        <img class="imgs" src="img/belmonto.jpg" alt="belmonto"  width="100%">
        <div  class="product-content text-align  ">
            <h4 class="style-h4">appedal</h4>
        <p class="precios">$70.500</p>
        <p class="descuentos">10% off</p>
        <p class="descripciones">bici plegable belmonto</p>
        <p>Paga en 12 cuotas</p>
        </div>
        </article>
        </div>
        <div  class="product-wrapper" >
        <article class="product">
        <img class="imgs" src="img/casco-bern-macon.jpg" alt="casco"  width="100%">
        <div class="product-content text-align">
        <h4 class="style-h4">appedal</h4>
        <p class="precios">$4500</p>
        <p class="descuentos">5% off</p>
        <p class="descripciones">Casco Bern</p>
        <p>Paga en 12 cuotas</p>
        </div>
        </article>
        </div>
      </section>
      
     </div>
</section>
    </main>
    <%- include('./partials/footer') %>
  </body>
</html>
