<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    />
    <link rel="stylesheet" href="/css/styles.css" />
    <title>appedal-productcart</title>
  </head>
  <body>
    <header class="background_amarillo">
      <div>
        <img class="logo" src="/img/appedal-logo.svg" alt="logo" width="50%" />
        <form action="/login" method="GET" class="align-right">
          <button class="size-65x20">
            Login <i class="fas fa-sign-in-alt"></i>
          </button>
        </form>
      </div>

      <h1>Ayudandote donde estes</h1>
      <img
        class="fondo_fijo"
        src="/img/en_bici_free_copyright.jpg"
        alt="fondo"
        width="100%"
      />
      <h3>Cerca tuyo siempre!</h3>
    </header>
    <main></main>
    <%- include('./partials/footer') %>
  </body>
</html>
