<!DOCTYPE html>
<html lang="en">
	<head>
		<%- include('./partials/head') %>

		<title>Perfil Usuario</title>
	</head>
	<body>
		<%- include('partials/header') %>

		<h1><%= user.username%></h1>
	</body>
</html>
