<!DOCTYPE html>
<html lang="en">
<head>
    		<%- include('./partials/head') %>

    <title>Perfil Usuario<title>
</head>
<body>
    <%- include('partials/header') %>
    
<h1><%= user.username%></h1>
<h2>Editar perfil:</h2>
    <select><option>Cambiar nombre de usuario</option></select> 
    <select><option>Cambiar foto de perfil</option></select>
    <select><option>Cerrar sesión</option></select>
    <select><option>Borrar cuenta</option></select>


<h2>Configuración    </h2>




    <h3>Mis compras:</h3>

    

</body>
</html>

