html,
body {
  margin: 0;
}

body {
  font-family: Helvetica;
  font-size: 12px;
}

h1 {
  font-family: Verdana;
  font-size: 5vw;
  font-weight: lighter;
  text-align: center;
  margin: 1vh;
}

h3 {
  font-size: 3.5vw;
}

.background_amarillo {
  background-color: #f4e92e;
}

.background_azulceleste {
  background-color: #0f6af2;
}

.background_verde {
  background-color: #26bc3a;
}

.bg-white {
  background-color: white;
}

.text-center {
  text-align: center;
}

.searchbar {
  background-color: white;
  border-radius: 10px;
  overflow: hidden;
}
.searchbar input,
.searchbar button {
  background-color: white;
  border: none;
  height: 30px;
}

.style-h2 {
  font-family: Verdana;
  font-size: 24px;
  font-weight: lighter;
  text-align: center;
}
.style-h4 {
  font-family: Verdana;
  font-size: 16px;
  font-weight: lighter;
  text-align: center;
  color: #202020;
}
.descripciones {
  color: #202020;
}

.precios {
  color: #202020;
  font-size: 16px;
}
.style-nav {
  text-align: center;
}
.banner {
  width: 70%;
  display: block;
  border-radius: 5%;
  margin: 1% auto;
}

.style-h3 {
  font-family: Verdana;
  font-size: 24px;
  font-weight: lighter;
  text-align: center;
}
.product {
  justify-content: space-around;
  padding: 2%;
  color: #111111;
}
.product-wrapper {
  padding: 15px;
}
.product-content {
  position: relative;
}

a {
  text-decoration: none;
}

.zindex-1 {
  z-index: -1;
}
.compras {
  align-items: center;
  justify-content: space-evenly;
  display: flex;
}

.total {
  justify-content: flex-end;
}

.style-section {
  display: flex;
  flex-wrap: nowrap;
}

/*seteos productos*/
.section_flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.section_flex article {
  width: 25%;
}
/*seteos header*/
.h1-header {
  font-family: "Poppins", Arial, sans-serif;
  font-size: 4vw;
  font-weight: lighter;
  text-align: center;
}
.h3-header {
  font-family: "Poppins", Arial, sans-serif;
  font-size: 3vw;
  font-weight: lighter;
  text-align: center;
  margin: 0%;
  padding: 1vh;
}
.titulo {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.align-center {
  text-align: center;
}

.size-65x20 {
  width: 65px;
  height: 20px;
  font-size: x-small;
  border-radius: 5px;
  border: coral;
  margin: 5px;
}
.size-65x20:hover {
  background-color: rgb(100, 100, 100);
}

.navbar a {
  text-decoration: none;
  color: #ffffff;
  font-weight: bold;
}

.navbar li {
  display: inline;
  margin-left: 5%;
}

.navbar ul {
  list-style: none;
  padding-left: 0;
}

.navbar {
  display: none;
  font-family: "Poppins", Arial, sans-serif;
  text-align: center;
  justify-content: space-between;
  margin: 0 auto;

  margin: 0px 20px;
  padding: 2px;
}

.navbar li a:hover {
  color: red;
}
.quienes {
  color: red !important;
}
.main-label {
  font-size: medium;
}
.form-input {
  width: 100%;
  text-align: center;
  margin: 3%;
}
.form-input input {
  border-radius: 15px;
}
.form-inputFoto {
  width: 100%;
  text-align: center;
  margin: 3%;
  border-radius: 0px;
}

/*seteos logo*/
.logo {
  max-width: 80%;
}

/*seteos footer*/
footer {
  background: #202020;
  padding-top: 2vh;
  font-family: "Montserrat", sans-serif;
}

footer h4 {
  font-family: "Montserrat", sans-serif;
  color: #fff;
  font-size: 1.2em;
  margin-bottom: 5px;
}

footer ul li {
  list-style: none;
}

footer ul {
  padding: 0;
}

footer ul a {
  color: dimgrey;
}

footer p {
  color: dimgrey;
  width: 100%;
}

footer a {
  text-decoration: none;
}

.row {
  display: block;
}

.col-footer {
  width: 90%;
  padding-left: 5vw;
}
.separador1 {
  background: #f4e92e;
  height: 5px;
  width: 70px;
}

.padliless li {
  padding: 2px 0;
}

.foot-contacto {
  background: #0e80de;
  width: 212px;
  margin: 10px 0 5px 0;
  padding: 20px 0;
  display: block;
  text-align: center;
  color: #fff;
}

.foot-contacto:hover {
  color: #ffffff;
  text-decoration: underline;
  background-color: rgb(12, 114, 231);
}
.row-fix a {
  color: #fff;
  padding: 15px;
  display: inline-block;
  width: 20px;
  text-align: center;
  margin-bottom: 2vh;
}

footer i {
  color: #ffffff;
}

.fb {
  background: #3b5998;
}
.tw {
  background: #55acee;
}
.gp {
  background: #e75041;
}
.lin {
  background: #007bb5;
}

.btm-foot {
  background: #fff;
  margin-top: 10vw 25vh;
  padding: 15px 0;
  font-size: 8px;
}

/* seteos boton whatsapp */
.btn-whatsapp {
  display: block;
  width: 50px;
  height: 50px;
  color: #fff;
  position: fixed;
  right: 8%;
  bottom: 60%;
  border-radius: 50%;
  line-height: 2em;
  text-align: center;
  z-index: 99;
}

[data-title]:hover:after {
  opacity: 1;
  transition: all 0.1s ease 0.5s;
  visibility: visible;
}

[data-title]:after {
  content: attr(data-title);
  background-color: #555;
  color: #fff;
  font-size: 14px;
  font-family: Raleway;
  position: absolute;
  padding: 3px 20px;
  bottom: 0.5em;
  right: 100%;
  white-space: nowrap;
  box-shadow: 1px 1px 3px #222222;
  opacity: 0;
  border: 1px solid #111111;
  z-index: 99999;
  visibility: hidden;
  border-radius: 6px;
}
.mapa {
  margin: auto;
  padding: 0 1%;
}

.fixed {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}
