/*seteos logo*/
.logo {
  max-width: 40%;
}
/*seteos footer*/
.row {
  display: flex;
}
footer h4 {
  font-size: 1.5em;
}
.col-footer {
  width: 33%;
}

.btn-whatsapp {
  right: 10%;
  bottom: 45%;
}
.navbar {
  background: #202020;
  display: block;
  font-family: "Poppins", Arial, sans-serif;
  text-align: center;
  justify-content: space-between;
  margin: 0 auto;
}

.size-65x20 {
  display: none;
  width: 65px;
  height: 20px;
  font-size: x-small;
  border-radius: 5px;
  border: coral;
  margin: 5px;
}
