/** @format */

.w-100 {
  width: 100%;
}
.w-35 {
  width: 35%;
}
.w-25 {
  width: 25%;
}
.w-65 {
  width: 65%;
}
.new-margin {
  margin: 40px 0px 40px 0px;
}
.no-wrap {
  flex-wrap: nowrap;
}
.flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.padding-8 {
  padding: 8px;
}
.text-align {
  text-align: center;
}
.article-flex {
  display: flex;
  flex-wrap: wrap;
}
.imgs {
  border-radius: 5px;
}
#main-content {
  padding: 0 8%;
  border-radius: 10px;
}

.margin-0 {
  margin: 0%;
}
.margin-1 {
  margin: 1%;
}
.margin-5 {
  margin: 5%;
}
.margintop-0 {
  margin-top: 0%;
}
.marginbtm-0 {
  margin-bottom: 0%;
}
.justify {
  text-align: justify;
}
.box-shadow {
  box-shadow: 0px 0px 10px rgb(100, 100, 100);
}
.button_1 {
  color: #26bc3a;
  font-size: 1.5em;
}

.button_2 {
  color: #202020;
  font-size: 1.5em;
}
.opacity {
  opacity: 0.5;
}
